[submodule "lib/IRC-js"]
	path = lib/IRC-js
	url = git://github.com/gf3/IRC-js.git

[submodule "lib/Socket.IO"]
	path = lib/Socket.IO
	url = git://github.com/LearnBoost/Socket.IO.git

[submodule "lib/Socket.IO-node"]
	path = lib/Socket.IO-node
	url = git://github.com/LearnBoost/Socket.IO-node.git

[submodule "lib/jade"]
	path = lib/jade
	url = git://github.com/visionmedia/jade.git

[submodule "lib/express"]
	path = lib/express
	url = git://github.com/visionmedia/express.git
