!!! 5
html(lang="en")
  head
    title socket.io client test
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <script src="/json.js"></script> <!-- for ie -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat.js"></script>
  body
    h1 Sample chat client
    #chat
      p Connecting...
    form(id="form", onsubmit="send(); return false")
      input(type="text", autocomplete="off", id="text")
      input(type="submit", value="Send")

    
