!!! 5
html(lang="en")
	head
		title Confab
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/client.js"></script>
	body
		#header
			#header-content
				h1 Confab IRC Client
		#content
			#channels
			ul(id="chat")

		#message
			#message-content
				#message-input
					form#message_form
						input(name="message",type="text")
