body {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 47px;
}
#header-content, #content, #message-content {
    margin: 0 auto;
    width: 960px;
}
#header, #channels, #chat {
    margin: 0;
    padding: 0;
}

#header {
    background: #444;
    color: white;
    position: fixed;
    top: 0;
    height: 47px;
    width: 100%;
}
#header-content { margin-bottom: 20px; }

#content {
    margin: 47px auto 100px;
    padding: 20px 0px 0px 0px;
    overflow: hidden;
}
#channels {
    background: #BBB;
    position: fixed;
    top: 67;
    width: 250px;
}

#chat {
    border: 1px solid #ccc;
    float: right;
    list-style: none;
    width: 700px;
}
#chat div {
    padding: 5px;
}

#message {
    background: #AAA;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
}
#message-content {
    overflow: hidden;
}
#message-input {
    float: right;
    width: 700px;
}
#message-input input {
    width: 100%;
}

.notice {
    background-color: #F22;
}
